<!DOCTYPE html>
<html>
  <head>
    <title>PetStore</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div <menu>
      <a href="/">Home</a>
      <a href="about">About Us</a>
      <a href="contact">Contact Us</a>
    </menu>
    <%= yield %>
  </body>
</html>
